In [1]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수의 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현 : [요소1, 요소2, 요소3, ...]

In [2]:
array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [3]:
# 인덱스(index) :자료의 순서를 뜻하는 숫자를 
array[0]

1

In [4]:
# 인덱스 번호 (-)이면 뒤에서부터 찾는다
array[-1]

True

In [5]:
# 인덱스 범위를 벗어나면 오류
# array[4]

In [6]:
for item in array:
    print(item)

1
3.14
문자열
True

In [7]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때
# 리스트에서 최대값, 최소값, 평균, 분산을 출력하시오

In [8]:
# 주어진 리스트
numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

# 최대값
max = float("-Inf")
for number in numbers:
    if number > max:
        max = number
max

10.3

In [9]:
# 최소값
min = float("InF")
for number in numbers:
    if number < min :
        min = number

min

3.2

In [10]:
# 평균
sum = 0
for number in numbers:
    sum += number
avg = round(sum / len(numbers), 2)

avg

6.04

In [11]:
# 분산
sum = 0
for number in numbers :
    sum += (number - avg) **2
dispersion = round(sum / len(numbers), 2)

dispersion

7.23

In [12]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

len(numbers)

5

In [13]:
# 리스트 구조로 형병환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

list(range(10)) # 변수로 list가 선언되서 오류남

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# 리스트에 요소 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메세드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트) 메세드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음
numbers = list(range(5))
numbers

[0, 1, 2, 3, 4]

In [15]:
numbers.append(99)
numbers

[0, 1, 2, 3, 4, 99]

In [17]:
numbers.insert(0, -100)
numbers

[-100, 0, 1, 2, 3, 4, 99]

In [18]:
numbers.extend([123,321])
numbers

[-100, 0, 1, 2, 3, 4, 99, 123, 321]

In [20]:
# 리스트에서 요소 삭제
# del 요소 : 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환하고 제거
# pop(인덱스) : 지정한 인덱스 요소를 반환하고 제거
# remove(요소값) : 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

del numbers [0]
numbers

[1, 2, 3, 4, 99, 123, 321]

In [21]:
numbers.pop()

321

In [22]:
numbers.pop(2)

3

In [23]:
numbers

[1, 2, 4, 99, 123]

In [24]:
numbers = [1, 1, 1, 2, 2, 3]
numbers

[1, 1, 1, 2, 2, 3]

In [25]:
numbers.remove(2)
numbers

[1, 1, 1, 2, 3]

In [ ]:
# 리스트 슬라이싱
# 리스트 [시작인덱스 : 종료인덱스] : 시작인덱스요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환

In [26]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [27]:
numbers[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
numbers[:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
numbers[7:14]

[7, 8, 9, 10, 11, 12, 13]

In [30]:
numbers[7:20]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
numbers[7:]

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [8]:
names = ['미스포츈','진','카이사','이즈리얼','트위치','베인','루시안','자야','트리스타나','아펠리오스']

In [34]:
names.append('징크스')
names

['미스포츈', '진', '카이사', '이즈리얼', '트위치', '베인', '루시안', '자야', '트리스타나', '아펠리오스', '징크스']

In [35]:
names.remove('아펠리오스')
names

['미스포츈', '진', '카이사', '이즈리얼', '트위치', '베인', '루시안', '자야', '트리스타나', '징크스']

In [36]:
new_names = names[4:9]
new_names

['트위치', '베인', '루시안', '자야', '트리스타나']

In [ ]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입 연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입할 수 있음

In [1]:
numbers = {1, 2, 3}

In [4]:
number1, number2, number3 = numbers
print(f"{number1} {number2} {number3}")

1 2 3

In [ ]:
# 만약 복수 할당할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
# number1,number2 = numbers

In [ ]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어주는 내장 함수

In [6]:
enumerate(numbers)

In [7]:
for index, item in enumerate(numbers):
    print(f'인덱스 : {index}, 요소 : {item}')

인덱스 : 0, 요소 : 1
인덱스 : 1, 요소 : 2
인덱스 : 2, 요소 : 3

In [ ]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [9]:
names

['미스포츈', '진', '카이사', '이즈리얼', '트위치', '베인', '루시안', '자야', '트리스타나', '아펠리오스']

In [10]:
scores = [70,85,60,55,90,100,100,65,75,40]
scores

[70, 85, 60, 55, 90, 100, 100, 65, 75, 40]

In [12]:
name_scores = list(zip(names, scores))
name_scores

[('미스포츈', 70),
 ('진', 85),
 ('카이사', 60),
 ('이즈리얼', 55),
 ('트위치', 90),
 ('베인', 100),
 ('루시안', 100),
 ('자야', 65),
 ('트리스타나', 75),
 ('아펠리오스', 40)]

In [ ]:
# 중첩 리스트
# 요소로 리스트를 가지고 있는 리스트

In [13]:
overlappings = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
overlappings

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
# 중첩 리스트 인덱스
overlappings[0]

# 중첩리스트 인덱스 요소 가져오기
overlappings[0][1]

2

In [16]:
# 새로운 변수로 중첩 리스트 요소 가져오기
items = overlappings[0]
items

[1, 2, 3]

In [17]:
items[1]

2

In [ ]:
# 평균 평점을 구하는 함수
# 함수의 매개변수로 grades, credits 리스트를 입력받고
# 평균 평점을 gpa를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1를 반환하시오.

In [40]:
# 내 코드
grades = [4, 3, 2, 3, 4]
credit_hours = [3, 3, 1, 2, 2]

# 가중 평균 계산
weighted_sum = sum(grade * credit_hour for grade, credit_hour in zip(grades, credit_hours))
total_credit_hours = sum(credit_hours)

# 평균 평점 계산
gpa = weighted_sum / total_credit_hours

print("평균 평점(GPA):", round(gpa))

평균 평점(GPA): 3

In [ ]:
# 강사님 코드
def getGpa(grades, credits):

    if len(grades) != len(credits):
        return -1
    
    credits_sum = 0  # 이수 학점의 총합
    weight_sum = 0  # 가중치 총합
    # for index in range(len(grades)):
    #     credits_sum += credits[index]
    #     weight_sum += credits[index] * grades[index]

    # [ (4, 3), (3, 3), (2, 1), (3, 2), (4, 2) ]
    for grade, credit in zip(grades, credits):
        credits_sum += credit
        weight_sum += credit * grade
    
    # 평균평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum, 2)
    return gpa

In [ ]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]
getGpa(grades, credits)

In [ ]:
# x = [["길동", 90],["철수", 80],["영수", 70],["방자", 60]]
# 복수할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성하시오.

In [39]:
x = [["길동", 90],["철수", 80],["영수", 70],["방자", 60]]
x
r_x = list(zip(*x)) # 리스트 쌍으로 바꾸기
r_x

x_names,x_scores = r_x # 리스트 복수할당
x_names = list(x_names) # 리스트 형변환
x_names

['길동', '철수', '영수', '방자']