In [1]:
import pandas as pd
import numpy as np

### 다중 인덱스
데이터프레임에 여러 계층을 가지는 인덱스를 지정할 수 있음  
데이터프레임 생성시 `columns` 인수로 다차원 리스트 형태를 지정하면 다중 인덱스로 지정할 수 있음

In [2]:
df = pd.DataFrame(np.random.randn(5,4).round(2), 
                  columns= [['A','A','B','B'],
                            ['C1','C2','C1','C2']])
df

      A           B
     C1    C2    C1    C2
0 -0.32 -1.00 -0.55  1.33
1 -0.97  0.07  0.24 -0.58
2 -0.41  1.85  1.21  0.85
3  0.05 -0.21 -0.67  0.04
4 -0.97 -1.08 -1.15  2.23

데이터프레임의 `columns` 속성의 `names` 속성으로 각 열 인덱스에 대한 이름을 부여할 수 있음

In [3]:
df.columns.names = ["Cidx1", "Cidx2"]
df

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0     -0.32 -1.00 -0.55  1.33
1     -0.97  0.07  0.24 -0.58
2     -0.41  1.85  1.21  0.85
3      0.05 -0.21 -0.67  0.04
4     -0.97 -1.08 -1.15  2.23

데이터프레임 생성 시 `index` 인수로 다차원 리스트를 지정하면 다차원 형태의 행 인덱스를 지정할 수 있음  

행 인덱스의 이름은 데이터프레임 인스턴스의 `index` 속성의 `names` 속성으로 지정할 수 있음

In [4]:
df2 = pd.DataFrame(np.random.randn(6,4).round(2), 
                  columns= [['A','A','B','B'],
                            ['C1','C2','C1','C2']],
                  index = [['M','M','M','F','F','F'],
                           ['id_1','id_2','id_3','id_1','id_2','id_3']])
df2

           A           B
          C1    C2    C1    C2
M id_1  0.55 -0.06 -0.17  0.01
  id_2  0.97  1.17  1.75 -0.12
  id_3  1.32 -0.58 -0.18  1.14
F id_1 -1.04  0.11  0.75 -1.46
  id_2  0.18  1.25  1.46 -3.29
  id_3 -1.08 -0.25  0.27 -0.53

In [5]:
df2.index.names = ["Ridx1", "Ridx2"]
df2.columns.names = ["Cidx1", "Cidx2"]
df2

Cidx1           A           B
Cidx2          C1    C2    C1    C2
Ridx1 Ridx2
M     id_1   0.55 -0.06 -0.17  0.01
      id_2   0.97  1.17  1.75 -0.12
      id_3   1.32 -0.58 -0.18  1.14
F     id_1  -1.04  0.11  0.75 -1.46
      id_2   0.18  1.25  1.46 -3.29
      id_3  -1.08 -0.25  0.27 -0.53

### 행 인덱스와 열 인덱스 교환
`stack`, `unstack` 메서드로 열 인덱스를 행 인덱스로 또는 행인덱스를 열 인덱스로 바꿀 수 있음

- `stack()` 메서드 : 열 인덱스를 행 인덱스로 변경

- `unstack()` 메서드 : 행 인덱스를 열 인덱스로 변경

In [6]:
df2.stack('Cidx1')

C:\Users\ITPS\AppData\Local\Temp\ipykernel_1484\3173744584.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df2.stack('Cidx1')

Cidx2                C1    C2
Ridx1 Ridx2 Cidx1
M     id_1  A      0.55 -0.06
            B     -0.17  0.01
      id_2  A      0.97  1.17
            B      1.75 -0.12
      id_3  A      1.32 -0.58
            B     -0.18  1.14
F     id_1  A     -1.04  0.11
            B      0.75 -1.46
      id_2  A      0.18  1.25
            B      1.46 -3.29
      id_3  A     -1.08 -0.25
            B      0.27 -0.53

In [10]:
df3 = df2.stack(1)
df3

C:\Users\ITPS\AppData\Local\Temp\ipykernel_1484\4246712737.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df3 = df2.stack(1)

Cidx1                 A     B
Ridx1 Ridx2 Cidx2
M     id_1  C1     0.55 -0.17
            C2    -0.06  0.01
      id_2  C1     0.97  1.75
            C2     1.17 -0.12
      id_3  C1     1.32 -0.18
            C2    -0.58  1.14
F     id_1  C1    -1.04  0.75
            C2     0.11 -1.46
      id_2  C1     0.18  1.46
            C2     1.25 -3.29
      id_3  C1    -1.08  0.27
            C2    -0.25 -0.53

In [15]:
df4 = df2.unstack(1)
df4

Cidx1     A                                   B
Cidx2    C1                C2                C1                C2
Ridx2  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3
Ridx1
F     -1.04  0.18 -1.08  0.11  1.25 -0.25  0.75  1.46  0.27 -1.46 -3.29 -0.53
M      0.55  0.97  1.32 -0.06  1.17 -0.58 -0.17  1.75 -0.18  0.01 -0.12  1.14

In [ ]:
df4.unstack(0)